@charset "utf-8";
/* CSS Document */
margin: 0px;
padding : 0px;
}

.clear{
	
	clear:both;
	}
ul,ol {
	list-style:none;
}
a img {
	boder: none;
	cursor:pointer
}
a{
	font-size:12px;
	color:#006699;
	text-decoration:none;
	text-shadow:2px 3px 5px #999;
	boder: none;
}
a:hover {
	color:red;
}
body {
	font-size:12px;
	color: #000;
	font-family:arial, tahoma, goergia, helvetica,Verdana, Geneva, sans-serif;
	text-align:left;
}
#wrapper{
	width:1000px;
	margin: 0px auto;
}
#header{
	width:1000px;
	background:#ccc;
}
#conten{
	width:1000px;
	background:#f0f0f0;
}
#footer{
	width:1000px;
	background:#777;
}
ul#menu li{
	display:inline;
}
ul#menu li a{
	padding-right:10px;
	border-right:1px solid red;
}